<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Patients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Form.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>My Patients</h2>
        <table>
            <thead>
                <tr>
                    <th>ID Card No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Condition</th>
                    <th>Sex</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{ patient[1] }}</td>
                    <td>{{ patient[2] }}</td>
                    <td>{{ patient[3] }}</td>
                    <td>{{ patient[4] }}</td>
                    <td>{{ patient[5] }}</td>
                    <td>{{ patient[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
